body {
	font-family: 'Poppins', sans-serif;
  background: hsl(0, 0%, 98%);
  overflow-y:hidden;
}

.card {
	margin: 0px;
	box-shadow: 0 0 10px 0px;
	border-radius: 6px;
	padding: 20px;
	margin: 0px;
	max-width: 350px;
  height: 250px;
}
.title-0 {
	margin: auto;
}
.title-1 {
	font-weight: 200;
  margin-top: 90px;
  font-size:2.3em;
}
.title-2 {
	font-weight: 600;
  color: hsl(234, 12%, 34%);
    font-size:2.3em;

}
.title-3 {
	margin-top: 20px;
}
.title-3-mobile {
	display: none;
}
.four-cards {
	padding-top: 60px;
}
h5 {
	font-weight: 600;
  color: hsl(234, 12%, 34%);
}
p {
	color: hsl(229, 6%, 66%);
	font-size: 15px;
	font-weight: 400;
}

img {
	padding-top: 15px;
}
.card-a {
	border-top: 4px solid hsl(180, 62%, 55%);
  margin-right: 30px;
}
.card-b {
	border-top: 4px solid hsl(0, 78%, 62%);
	margin-right: 30px;
}
.card-c {
	border-top: 4px solid hsl(34, 97%, 64%);
	margin-top: 40px;
}
.card-d {
	border-top: 4px solid hsl(212, 86%, 64%);
}
.card-a,
.card-d {
	margin-top: 140px;
}

@media (max-width: 1200px) {
	.card {
		margin: 0px;
		box-shadow: 0 0 10px 0px;
		border-radius: 6px;
		padding: 20px;
		margin: 0px;
		max-width: 300px;
		height: 250px;
	}
	.four-cards {
		padding-top: 100px;
	}
	.title-1 {
		font-weight: 200;
		margin-top: 80px;
		font-size: 3.0em;
	}
	.title-2 {
		font-weight: 600;
		color: hsl(234, 12%, 34%);
		font-size: 3.0em;
	}
	.title-3 {
		margin-top: 20px;
		font-size: 1.2em;
	}
	.card-a {
		border-top: 4px solid hsl(180, 62%, 55%);
		margin-right: 30px;
	}
	.card-b {
		border-top: 4px solid hsl(0, 78%, 62%);
		margin-right: 30px;
	}
	.card-c {
		border-top: 4px solid hsl(34, 97%, 64%);
		margin-top: 40px;
	}
	.card-a,
	.card-d {
		margin-top: 140px;
  }
}

@media (max-width: 991.98px) {
	.title-1 {
		font-weight: 200;
		padding-top: 0px;
		font-size: 1.5em;
	}
	.title-2 {
		font-size: 1.5em;
		font-weight: 600;
		color: hsl(234, 12%, 34%);
	}
	.title-3-mobile {
		padding-top: 10px;
		font-size: 15px;
		display: initial;
	}
	.title-3 {
		display: none;
		padding-top: 10px;
		font-size: 14px;
	}
	.four-cards {
		justify-content: center;
		padding-top: 30px;
    margin: auto;
	}
	.card-a,
	.card-d {
    margin-top: 0px;
	}
	.card-a,
	.card-b {
		margin-right: 0px;
	}
	.card-a {
		border-top: 4px solid hsl(180, 62%, 55%);
    margin-right: 30px;

	}
	.card-b {
		border-top: 4px solid hsl(0, 78%, 62%);
    margin-right: 30px;
	}
	.card-c {
    border-top: 4px solid hsl(34, 97%, 64%);
	}
	.card-d {
		border-top: 4px solid hsl(212, 86%, 64%);
  }
  .card-d img{
    padding-top:0px;
  }
  .card-b img{
    padding-top:0px;
  }
	.card {
		margin: 0px;
		box-shadow: 0 0 20px 0px hsl(234, 12%, 34%);
		border-radius: 6px;
		padding: 20px;
		margin: 10px 0px 0px 0px;
		max-width: 320px;
    height: 250px;
  }
  .middle-row{
    margin: 28px 0px 0px 0px;

  }
}
